[submodule "python-dojang"]
	path = python-dojang
	url = https://github.com/leegwae/python-dojang.git
[submodule "discrete-mathematics"]
	path = discrete-mathematics
	url = https://github.com/leegwae/discrete-mathematics.git
[submodule "power-java-compact"]
	path = power-java-compact
	url = https://github.com/leegwae/power-java-compact.git
[submodule "computer-architecture"]
	path = computer-architecture
	url = https://github.com/leegwae/computer-architecture.git
